* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #333;
}
.orange-color {
  color: rgb(255, 102, 0);
}

/* nav */
.navbar {
  background-color: #ddd;
}
.navbar-brand {
  font-size: 2rem;

  text-transform: uppercase;
}
.bi.bi-bicycle {
  font-size: 3.3rem;
  margin: 0;
}
.navbar-nav {
  text-transform: uppercase;
}
button.navbar-toggler {
  font-size: 1.9rem;
}

/* header section */
.shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.home {
  position: relative;
  height: 60rem;
  background-image: url(../img/header-photo.jpg);
  background-size: cover;
  background-position: center;
  z-index: -2;
}
.text-welcome {
  font-size: 2rem;
  text-transform: uppercase;
}
.header-button {
  font-size: 1.8rem;
  text-transform: uppercase;
}
